<div class="container">
<table class="table mt-5">
  <thead>

    <tr>
      <th scope="col">Date</th>
      <th scope="col">Payment method</th>
      <th scope="col">Products count</th>
      <th scope="col">Total amount</th>
      <th>Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each  placedPro}}
    <tr>
      
      <td>{{this.date}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{{this.productsCount}}}</td>
      <td>{{this.total}}</td>
      <td><div class="btn-group">
  <button type="button" class="btn btn-danger">{{this.status}}</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
   
    <a class="dropdown-item" href="/admin/status-change-toship/{{this._id}}">shipped</a>
   
  </div>
</div>
      </td>

     
      <td>
        <a href="/view-orders-products/{{this._id}}" class="btn btn-primary" >view products</a>
      </td>
     

      
    </tr>
   {{/each}}
    
  </tbody>
</table>
</div>