<div class="container">

<div >
<div class="row mt-4">
    <a href="/admin/add-product" class="btn btn-success ml-auto">Add product</a>
</div>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Tittle</th>
      <th scope="col">catagory</th>
      <th scope="col">Count</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each cartProducts}}
    <tr>
      <th scope="row">
        <img src="/product-images/{{this.product._id}}.jpg" width="70px" alt="">
      </th>
      <td>{{this.product.Name}}</td>
      <td>{{this.product.Price}}</td>


      <td>
       {{#if this.quantity}}
  <button class="btn btn-primary" id="minusBtn" onclick="changeProCount('{{_id}}','{{item}}', -1); btnManage(event)">-</button>
{{/if}}

      <span id="{{this.item}}">{{this.quantity}}</span><button onclick="changeProCount('{{this._id}}','{{this.item}}','1')" class="btn btn-primary">+</button></td>
      <td><a href="" class="btn btn-danger" onclick=" removeCart('{{this._id}}','{{this.product._id}}')"  >Remove</a></td>

    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>
</div>

<script>


  function changeProCount(cId,pId,count){ 
    console.log(cId,pId,count)
    $.ajax({
      
      url:"/change-quantity",
      data:{
        cart:cId,
        proId:pId,
        count:count
      },
      method:"post",
      success:(response)=>{
      
       $("#"+response.proID).html(response.count)
       if(response.count==1){
        {{!-- var removeBtn=document.getElementById("minusBtn");
removeBtn.parentNode.removeChild(removeBtn); --}}
       }else{

       }
      }
    })

  }

  function btnManage(e){



  }

  function removeCart(cartID,proID){
    
    $.ajax({
      url:"/remove-cart-product",
      data:{
        cartId:cartID,
        proId:proID
      },
      method:"post",
      success:(response)=>{
        
        alert(response)
      }
    })
  }
</script>