<div class="container">

<div >

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Tittle</th>
      <th scope="col">catagory</th>
      <th scope="col">Count</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each cartProducts}}
    <tr>
      <th scope="row">
        <img src="/product-images/{{this.product._id}}.jpg" width="70px" alt="">
      </th>
      <td>{{this.product.Name}}</td>
      <td>{{this.product.Price}}</td>


      <td>
     
  <button class="btn btn-primary" id="minusBtn" onclick="changeProCount('{{this._id}}','{{this.item}}','{{../user._id}}', -1);">-</button>


      <span id="{{this.item}}">{{this.quantity}}</span>
      <button onclick="changeProCount('{{this._id}}','{{this.item}}','{{../user._id}}','1')" class="btn btn-primary">+</button></td>
      <td><a href="" class="btn btn-danger" onclick=" removeCart('{{this._id}}','{{this.product._id}}')"  >Remove</a></td>

    </tr>
    {{/each}}
    
  </tbody>
</table>
<hr>
<div class="float-right ">
  <h2>Rs: <span id="total">
    {{#if totalValue}}
    {{totalValue}}
    {{/if}}</span></h2>
  <a href="/palce-order" class="btn btn-success" style="width: 100%;">Place order</a>

</div>
</div>
</div>

<script>


  function changeProCount(cId,pId,uId,count){ 
    console.log(cId,pId,uId,count)
    $.ajax({
      
      url:"/change-quantity",
      data:{
        user:uId,
        cart:cId,
        proId:pId,
        count:count
      },
      method:"post",
      success:(response)=>{
      
       $("#"+response.proID).html(response.count)
      if(response.count==0){
        alert("product going to delete")
        window.location.href = "/cart"; 
      
      
      }else{
        document.getElementById('total').innerHTML=response.total
      }
       //if(response.count==1){
       // var removeBtn=document.getElementById("minusBtn");
       // removeBtn.parentNode.removeChild(removeBtn);
      // }else{

      // }
      }
    })

  }



  function removeCart(cartID,proID){
    
    $.ajax({
      url:"/remove-cart-product",
      data:{
        cartId:cartID,
        proId:proID
      },
      method:"post",
      success:(response)=>{
        
        alert(response)
      }
    })
  }
</script>